.form {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-block-start: 64px;

  & > div:has(input) + div:has(input) {
    margin-block-start: 8px;
  }
}

.message {
  text-align: center;
  text-transform: uppercase;
  text-wrap: pretty;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-red);
}

.actions {
  margin-block-start: 40px;

  & > button + button {
    margin-block-start: 10px;
  }
}
