@custom-media --mobile (width < 428px);
@custom-media --tablet-sm (width > 427px);
@custom-media --tablet-md (width > 575px);
@custom-media --tablet-lg (width > 767px);
@custom-media --laptop-sm (width > 991px);
@custom-media --laptop-md (width > 1279px);
@custom-media --laptop-lg (width > 1439px);
@custom-media --desktop (width > 1685px);