.field {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 12px;
  block-size: 34px;
  padding-block-end: 2px;
  inline-size: min(100%, 360px);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;

  & > button[class^="icon-"] {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &:has(input:user-invalid),
  &:has(.error) {
    color: var(--primary-red);
  }

  &:has(input:user-valid) {
    color: var(--primary-terracota);

    &::after {
      content: "\e906";
      font-family: "iconfont";
      font-size: 16px;
    }
  }
}

.label {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 18px;
  color: currentColor;
  transition:
    transform linear 0.1s,
    font-size linear 0.1s;

  &:has(+ input[required])::after {
    content: "*";
  }

  &:has(+ input:focus),
  &:has(+ input:not(:placeholder-shown)) {
    font-size: 10px;
    transform: translateY(-16px);
  }
}

.input {
  flex-grow: 1;
  color: currentColor;

  &:user-valid ~ .error {
    display: none;
  }
}

.error {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: calc(100% + 4px);
  font-size: 10px;
  font-weight: 700;
}
