---
import Layout from "@layouts/Layout.astro";
import { AuthPage } from "@solidjs/AuthPage.tsx";
---

<Layout>
  <section>
    <div class="__container">
      <AuthPage client:only="solid-js" />
    </div>
  </section>
</Layout>
