---
import Head from "@templates/Head.astro";
import Header from "@templates/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro-Bags</title>
    <Head />
  </head>
  <body>
    <div id="root">
      <Header />
      <main id="main">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  :root {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*scrollbar-width: none;*/
    interpolate-size: allow-keywords;
    user-select: none;

    --primary-white: #ffffff;
    --primary-black: #080808;
    --primary-terracota: #8d402d;
    --primary-cream: #f3eae0;
    --primary-red: #ff4444;
    --primary-green: #7e9288;
    --secondary-black: #5a5a5a;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
  }

  *::before,
  *::after {
    font-size: inherit;
  }

  html,
  body {
    block-size: 100%;
    inline-size: 100%;
  }

  body {
    font-family: var(--font-maison-mono);

    &:has(dialog[open]) {
      overflow: hidden;
    }
  }

  #root {
    position: relative;
    min-block-size: 100dvh;
    display: flex;
    flex-direction: column;
  }

  #main {
    position: relative;
    flex-grow: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  address {
    font-style: inherit;
  }

  img {
    display: block;
  }

  ul,
  ol {
    list-style: none;
  }

  input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: none;
    outline: none;
    text-transform: inherit;
    background-color: transparent;

    &[type="checkbox"],
    &[type="radio"],
    &[type="search"]::-webkit-search-cancel-button {
      appearance: none;
    }

    &::placeholder {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }

  fieldset {
    border: none;
  }

  textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    outline: none;
  }

  button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  dialog {
    border: none;
  }

  summary {
    list-style: none;
  }

  details {
    overflow: hidden;

    &::details-content {
      block-size: 0;
      transition:
        block-size 0.2s,
        content-visibility 0.2s;
      transition-behavior: allow-discrete;
    }

    &[open]::details-content {
      block-size: auto;
    }
  }

  [popover] {
    border: none;
  }

  [class$="__container"] {
    max-inline-size: 1686px;
    margin-inline: auto;
    padding-inline: 20px;

    @media (--desktop) {
      padding-inline: 100px;
    }
  }

  .action-contain,
  .action-outline {
    display: block;
    inline-size: 200px;
    block-size: 40px;
    align-content: center;
    font-family: var(--font-maison-light);
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 20px;

    &:hover:not(:disabled) {
      opacity: 0.8;
    }
  }

  .action-contain {
    color: var(--primary-cream);
    background-color: var(--primary-terracota);
    border: 1px solid var(--primary-terracota);

    &:disabled {
      background-color: var(--secondary-black);
      border: 1px solid var(--secondary-black);
    }
  }

  .action-outline {
    color: var(--primary-terracota);
    border: 1px solid currentColor;

    &:disabled {
      color: var(--secondary-black);
    }
  }

  .link {
    display: block;
    color: var(--primary-cream);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;

    &:disabled {
      color: var(--secondary-black);
    }

    &:hover:not(:disabled) {
      opacity: 0.8;
    }
  }

  @font-face {
    font-family: "iconfont";
    src: url("../assets/fonts/icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "iconfont" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-login::before {
    content: "\e900";
  }

  .icon-search::before {
    content: "\e901";
  }

  .icon-bag::before {
    content: "\e902";
  }

  .icon-burger::before {
    content: "\e903";
  }

  .icon-filter::before {
    content: "\e904";
  }

  .icon-sort::before {
    content: "\e905";
  }

  .icon-tick::before {
    content: "\e906";
  }

  .icon-mark::before {
    content: "\e907";
  }

  .icon-remove::before {
    content: "\e908";
  }

  .icon-arrow-right::before {
    content: "\e909";
  }

  .icon-arrow-left::before {
    content: "\e90a";
  }

  .icon-down::before {
    content: "\e90b";
  }

  .icon-show::before {
    content: "\e90c";
  }

  .icon-hide::before {
    content: "\e90d";
  }

  .icon-calendar::before {
    content: "\e90e";
  }
</style>
